#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
   

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
     text-decoration: none;
     list-style: none;
     scroll-behavior: smooth;

}
:root{
    --text-color:#fff;
    --bg-color:#1b1f24;
    --second-bg-color:#22282f;
     --main-color:#13bbff;
     --other-color:#c3cad5;

     --h1-font:4.5rem;
     --h2-font:2.9rem;
     --p-font:1rem;
}
body{
    color:var(--text-color);
    background: var(--bg-color);
    background-color: #1b1f24;

}#navbar{
    background-color: #1b1f24;
}
#navbar h1{
    font-size: 40px;
}
.navbar-brand{
    color: white;
    font-weight: 700;
    
    cursor: pointer;
}.navbar-brand span{
    color: #13bbff;
   

}.navbar-nav li a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition:all .50s ease;
    text-decoration: none;

}.navbar-nav li a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color),-2px 1px 30px var(--text-color);
}.h-btn{
    width: 150px;
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    text-decoration: none;

}
.h-btn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);

}

/*banner section start*/
#home{
    margin-bottom: 100px;
}
#home h3{
    color: var(--text-color);
}#home h1{
    color: var(--text-color);

}#home h1 span{
    color: var(--main-color);
}#home p{
    color: var(--other-color);
}.home-row{
    
    padding-top: 150px;
}
.social{
    margin-bottom: 40px;
}
.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--main-color);
    border-radius: 50%;
   
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}.social i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
  
}
.banner-img img{
    margin-top: -100px;  
}.h-btn1{
    width: 100px;
    padding: 15px;
    background-color: #13bbff;
    color: #1b1f24;
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
    text-decoration: none;
    border-radius: 7px;
    
}.h-btn1:hover{
    background-color: #1b1f24;
   color: #13bbff;
   box-shadow: 0 0 20px var(--main-color);
    
  
}
.h-btn2{
    width: 160px;
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    text-decoration: none;
    margin-left: 15px;

}
.h-btn2:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
   

}.column-1{
    margin-bottom: 70px;
}
.typewrite{
    text-decoration: none;
    color: #13bbff;
    font-size: larger;
}#home h2 a{
    color: #13bbff;
    text-decoration: none;

}
/*banner section end*/
/*About me section start*/
#about{
    margin-top: 50px;
    background-color: #22282f;
    padding-top: 100px;
    padding-bottom: 100px;

}
#about h1{
    color: var(--text-color);
    text-align: center;

}#about h1 span{
    color: var(--main-color);}
    .image{
     width: 300px;   
       height: 300px;
        border: 10px solid var(--main-color);
        box-shadow: 0 0 20px var(--main-color);
        border-radius: 50%;
        margin-top: 40px;
        margin-left: 30px;
       
       
    }.div-2{
       padding-left: 50px;
     
    }
    .image img{
        margin-left: -10px;
    }.about-container{
        margin-top: 50px;
        padding-top: 50px;
    }.heading{
        font-size: 40px;
        font-weight: 700;
    }
    .heading span{
        color: var(--main-color);

    }.exp {
        font-weight: 600;
        line-height: 40px;
    }
    .exp span{
        color: #c3cad5;


    }
/*About me section end*/
/*services section start*/
#services{
    margin-top: 50px;
    background-color: #1b1f24;
    padding-top: 100px;

}
#services h1{
    color: var(--text-color);
    text-align: center;
   

}#services h1 span{
    color: var(--main-color);
}.services-1{
    
    height: 300px;
   background-color: #22282f;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
  
    transition: all .50s ease;
    cursor: pointer; 
}.services-1:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 5px var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 10px;
}
.services-1 i{
color: #13bbff;
font-size: 60px;



}.services-1 p{
        color: var(--other-color);
        font-weight: 300;
        line-height: 28px;
    }
.services-1 h3{
padding-top: 10px;
}
.services-3{
    
    height: 300px;
    background-color: #22282f;
     margin-top: 10px;
     padding-top: 20px;
     text-align: center;
     border-radius: 10px;
   margin-left: 5px;
     transition: all .50s ease;
     cursor: pointer; 
 }.services-3:hover{
     transform: translateY(-20px);
     box-shadow: 0 0 5px var(--main-color);
     border: 2px solid var(--main-color);
     border-radius: 10px;
 }
 .services-3 i{
 color: #13bbff;
 font-size: 60px;
 
 
 
 }.services-3 p{
         color: var(--other-color);
         font-weight: 300;
         line-height: 28px;
     }
 .services-3 h3{
 padding-top: 10px;
 }
/*services section end*/
/*skills section start*/
#skills{
    margin-top: 50px;
    background-color: #22282f;
    padding-top: 100px;

}
#skills h1{
    color: var(--text-color);
    text-align: center;

}#skills h1 span{
    color: var(--main-color);
}#skills.skill-1{
    width: 400px;
    border: 2px solid var(--main-color);
}
#skills.skill-2{
    width: 400px;
    border: 2px solid var(--main-color);
}
#skills.skill-3{
    width: 400px;
    border: 2px solid var(--main-color);
}
#skills.skill-4{
    width: 400px;
    border: 2px solid var(--main-color);
}.skill-name1{
    font-size: 30px;
    font-weight: 600;
    color: #4696d7;
}
.skill-name2{
    font-size: 30px;
    font-weight: 600;
    color: rgb(221, 96, 121);
}
.skill-name3{
    font-size: 30px;
    font-weight: 600;
    color: rgb(107, 160, 107);
}
.skill-name4{
    font-size: 30px;
    font-weight: 600;
    color:rgb(236, 236, 91);
}
/*skills section end*/
/*portfolio section start*/
#portfolio{
    margin-top: 50px;
    background-color: #1b1f24;
    padding-top: 100px;

}
#portfolio h1{
    color: var(--text-color);
    text-align: center;

}
#portfolio h1 span{
    color: var(--main-color);
}
 .services-2{
    
  height: 400px;
   background-color: #22282f;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    transition: all .50s ease;
    cursor: pointer; 
}.services-2:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 5px var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 10px;
}.services-2 img{
    border-radius: 10px;
}
.services-2 p{
        color: var(--other-color);
        font-weight: 300;
        line-height: 28px;
    }
    .services-1 h4{
padding-top: 10px;
}
/*portfolio section end*/
/*contact me section start*/
#contact{
    margin-top: 50px;
    background-color: #1b1f24;
    padding-top: 100px;

}
#contact h1{
    color: var(--text-color);
    text-align: center;

}
#contact h1 span{
    color: var(--main-color);
}
.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;

}.contact-form form{
    position: relative;
    width: 600px;

}
form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: 1px solid var(--main-color);
    outline: none;
    background: #2d343f;
    color: var(--text-color);
    margin-bottom: 20px;
    border-radius: 8px;

}form input::placeholder
form textarea::placeholder{
    color: var(--other-color);
    font-size: 15px;
} form .send-btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 50%;

}form .send-btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
}
.footer{
    padding: 22px 16%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}.copyright p{
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);

}
.scroll-top i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 27px;
}
/*contact me section end*/

